<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408928471838-frtsvd7msgsggrcjhi4r0l4bbosjma2v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408928471838-frtsvd7msgsggrcjhi4r0l4bbosjma2v</string>
	<key>API_KEY</key>
	<string>AIzaSyDi2sfXhAuAWIMwtk_60gbOLtUBCBw228M</string>
	<key>GCM_SENDER_ID</key>
	<string>408928471838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivythesocialnetwork.ivy</string>
	<key>PROJECT_ID</key>
	<string>ivy2development</string>
	<key>STORAGE_BUCKET</key>
	<string>ivy2development.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408928471838:ios:e838af6035dcaa5966d70f</string>
	<key>DATABASE_URL</key>
	<string>https://ivy2development.firebaseio.com</string>
</dict>
</plist>