<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>438048181887-vkn2gnsgtfu925odcgt6u50mobumbcn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.438048181887-vkn2gnsgtfu925odcgt6u50mobumbcn8</string>
	<key>API_KEY</key>
	<string>AIzaSyCnhl6GpY8LtPW-YSiK-5ZTas2RpgcKyk8</string>
	<key>GCM_SENDER_ID</key>
	<string>438048181887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivythesocialnetwork.ivy</string>
	<key>PROJECT_ID</key>
	<string>ivysocialnetwork</string>
	<key>STORAGE_BUCKET</key>
	<string>ivysocialnetwork.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:438048181887:ios:b1afff7d5604c4a38df94a</string>
	<key>DATABASE_URL</key>
	<string>https://ivysocialnetwork.firebaseio.com</string>
</dict>
</plist>